*{margin: 0px; 
padding: 0pc;}
#container{	
border: 2px solid black;
width: 50%;
margin: auto;
display: relative;
}
#result_display{
	border: 2px solid gray;
	margin: 10px;
	height: 100px;
	padding: 5px;
	background: lightgray;
}
#input_value{
	padding-bottom: 20px;
	font-size: 25px;
}
#result{
	text-align: right;
	padding: 10px;
	font-size: 35px;
	}
#input_data{
padding: 10px;		
text-align: center;		
	}
#input_data button{
	width: 150px;
	cursor: pointer;
	height: 80px;
	font-size: 20px;
}